<div class="container">
  <div class="card">

    <div class="card_upper">
      <div class="request_button">
        <button (click)="showNewAsset()"><mat-icon>add</mat-icon><span>Add new assets declaration</span></button>
      </div>
      <div class="card_upper_body" *ngIf="show">
        <div class="card_content">
          <div class="input-box">
            <p>Employee IdAI1547</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="AI1547">
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Unique Asset Code</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Assets Categories">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Serial Number </p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Assets Categories">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Model Number </p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Assets Categories">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>OS</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Assets Categories">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>OS version</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Quantity">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Brand</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Priority">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Colour</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Required by Date">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Device is in working condition?</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Allocation type">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card_bottom">
          <div class="input-box">
            <p>Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF)<span>Upload front and backside image</span></p>
            <mat-form-field appearance="outline">
              <input matInput/>
            </mat-form-field>
          </div>
        </div>

        <div class="submit_button">
          <button>Submit</button>
        </div>
      </div>
    </div>

    <div class="card_lower">
      <div class="card_lower_header">
        <h3>List All Declaration Assets</h3>
      </div>
      <app-listing [config]="assetsDeclarationConfig"></app-listing>
      <app-common-table [tableColumns]="tableColumns" [tableData]="tableData" [isPageable]="true" [defaultPageSize]="3"></app-common-table>
    </div>
  </div>

</div>
