<div class="container">
  <div class="card">
    <div class="card_upper">
      <div class="request_button">
        <button (click)="showNewAsset()">
          <mat-icon>add</mat-icon><span>Add new assets declaration</span>
        </button>
      </div>
      <form [formGroup]="assestDeclaration">
        <div class="card_upper_body" *ngIf="show">
          <div class="card_content">
            <div class="input-box">
              <p>Employee IdAI1547</p>
              <mat-form-field appearance="outline">
                <mat-select placeholder="AI1547"> </mat-select>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Unique Asset Code</p>
              <mat-form-field appearance="outline">
                <input matInput formControlName="unique_asset_code" placeholder="" (keydown)="noSpace($event)"/>
                <mat-error>{{
                  assestDeclaration
                  | validationError : "unique_asset_code" : "Code"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Serial Number</p>
              <mat-form-field appearance="outline">
                <input matInput  formControlName="serial_number" placeholder="" (keydown)="noSpace($event)"/>
                <mat-error>{{
                  assestDeclaration
                  | validationError : "serial_number" : "Serial Number"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Model Number</p>
              <mat-form-field appearance="outline">
                <input matInput formControlName="model_number" placeholder="" (keydown)="noSpace($event)" />
                <mat-error>{{
                  assestDeclaration
                  | validationError : "model_number" : "Model Number"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>OS</p>
              <app-dropdown-with-search [error]="assestDeclaration | validationError : 'os' : 'OS'" [data]="dropDown"
                [placeholder]="" [myControlName]="assestDeclaration.controls.os"></app-dropdown-with-search>
            </div>
            <div class="input-box">
              <p>OS version</p>
              <mat-form-field appearance="outline">
                <input matInput formControlName="os_version" placeholder="" (keydown)="noSpace($event)"/>
                <mat-error>{{
                  assestDeclaration
                  | validationError : "os_version" : "OS version"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Brand</p>
              <mat-form-field appearance="outline">
                <input matInput formControlName="brand" placeholder="" (keydown)="noSpace($event)"/>
                <mat-error>{{
                  assestDeclaration | validationError : "brand" : "Brand"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Colour</p>
              <mat-form-field appearance="outline">
                <input matInput formControlName="colour" placeholder="" (keydown)="noSpace($event)"/>
                <mat-error>{{
                  assestDeclaration | validationError : "colour" : "Colour"
                  }}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <p>Device is in working condition?</p>
              <app-dropdown-with-search [data]="dropDown" [error]="
                  assestDeclaration | validationError : 'is_Working' : 'Working'
                " [placeholder]="" [myControlName]="assestDeclaration.controls.is_Working"></app-dropdown-with-search>
            </div>
          </div>
          <div class="card_bottom">
            <div class="input-box">
              <p>
                Asset Image(Allowed Format: jpg,jpeg,JPEG,JPG,png,PNG,GIF)<span>Upload front and backside image</span>
              </p>
              <mat-form-field appearance="outline">
                <input matInput />
              </mat-form-field>
            </div>
          </div>

          <div class="submit_button">
            <button (click)="submitValue()">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <div class="card_lower">
      <div class="card_lower_header">
        <h3>List All Declaration Assets</h3>
      </div>
      <app-common-table [config]="assetsDeclarationConfig" [tableColumns]="tableColumns" [dataSource]="dataSource">
      </app-common-table>
    </div>
  </div>
</div>
<!-- <></> -->
