@import "../../../../../scss/mix";

.container {
  background-color: $common-background;
  min-height: 100%;
  padding: 30px;
  .card {
    .card_upper {
      background-color: #fff;
      margin-bottom: 20px;

      .request_button {
        display: flex;
        justify-content: flex-end;
        padding: 20px 20px 10px 0px;
        border-bottom: 1px solid rgba(24,28,33,0.06);
        button {
          background: #3246d3;
          color: #fff;
          font-family: "Segoe UI";
          border-radius: 4px;
          padding: 7px 20px;
          cursor: pointer;
          outline: none;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          font-size: 15px;
          font-weight: 600;
          text-transform: capitalize;
          border: none;
          span{
            position: relative;
            top: -7px;
          }
        }
      }

      .card_upper_body{

        padding: 20px;
        .card_content{
          display: grid;
          grid-template-columns: 24% 24% 24% 24%;
          column-gap: 16px;
          @include form-field(100%);
          mat-form-field{
            ::ng-deep.mat-select-placeholder{
            color:#babbbc;
            }
          }
        }
        .card_bottom{
          @include form-field(100%);
          .input-box {
            textarea{
              width: 97.5%;
              min-height: 60px;
              border: 1px solid #d8d8d8;
              border-radius: 3px !important;
              padding: 12px 10px !important;
              background: $primary-white;
              resize: none;
            }
            p{
              word-break: break-word;
              span{
                color: red;
                word-break: break-word;
              }
            }
          }
        }

        .submit_button{
          display: flex;
          justify-content: center;
          align-items: center;
          button{
            margin-top: 20px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), #199CFF;
            background-blend-mode: soft-light, normal;
            border: 1px solid rgba(150, 165, 184, 0.2);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
            border-radius: 4px;
            color: #FFFFFF;
            padding: 10px;
          }
        }
      }
    }
    .card_lower {
      .card_lower_header {
        h3 {
          font-size: 20px;
          color: #3246d3;
          padding: 11px 25px 11px 15px;
          border-bottom: 1px solid #f3f7fc;
          font-weight: 600;
        }
      }
      background-color: #fff;
    }
  }
}
:host ::ng-deep .container {
  .tables {
    overflow-x: scroll;
    table {
      border: 1px solid rgba(24, 28, 33, 0.06);
      width: 100%;
      border-collapse: collapse;
      tbody {
        background-color: #f9f9f9;
        tr {
          td {
            border: 1px solid #f1f1f2;
            padding: 10px 10px 10px 20px;
          }
        }
      }
      thead {
        tr {
          th {
            border: 1px solid #f1f1f2;
            padding: 10px 10px 10px 20px;
            color: #000;
            font-weight: 400;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width:800px){
  .container{
    .card{
      .card_upper{
        .request_button{
          padding: 20px;
        }
        .card_upper_body{
          .card_content{
            grid-template-columns: 100%;
          }
          .card_bottom{
            .input-box{
              textarea{
                width: 89%;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 629px) {
  :host ::ng-deep .container{
    .buttons{
      display: flex;
      flex-direction: column;
      .input-box{
        margin-bottom: 20px;
        .select{
          height: 50px !important;
        }
        span{
          margin: 5px !important;
        }
      }
      .search{
        margin-left: 5px;
        margin-bottom: 20px;
        mat-form-field{
          width: 50%;
        }
      }
    }
  }
}
