@import "../../../../../scss/mix";

.container {
  min-height: 100%;
  padding: 30px;
  background-color: $common-background;

  .card {
    .card_upper {
      background-color: $primary-white;
      margin-bottom: 20px;

      .request_button {
        @include flex("", flex-end);
        padding: 20px 20px 10px 0px;
        border-bottom: 1px solid rgba(24, 28, 33, 0.06);
        button {
          background: $headingsBlue;
          color: $primary-white;
          font-family: "Segoe UI";
          border-radius: 4px;
          padding: 7px 20px;
          cursor: pointer;
          outline: none;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          font-size: 15px;
          font-weight: 600;
          text-transform: capitalize;
          border: none;
          span {
            position: relative;
            top: -7px;
          }
        }
      }

      .card_upper_body {
        padding: 20px;
        .card_content {
          @include grid(grid-template-columns, "24% 24% 24% 24%", "16px");
          @include form-field(100%);
          .input-box{
            margin-bottom: 20px;
          }
          mat-form-field {
            ::ng-deep.mat-select-placeholder {
              color: #babbbc;
            }
          }
        }
        .card_bottom {
          @include form-field(100%);
          .input-box {
            textarea {
              width: 97.5%;
              min-height: 60px;
              border: 1px solid #d8d8d8;
              border-radius: 3px !important;
              padding: 12px 10px !important;
              background: $primary-white;
              resize: none;
            }
            p {
              word-break: break-word;
              span {
                color: red;
                word-break: break-word;
              }
            }
          }
        }

        .submit_button {
          @include flex(center, center);
          button {
            @include button(10px);
          }
        }
      }
    }
    .card_lower {
      .card_lower_header {
        h3 {
          font-size: 20px;
          color: $headingsBlue;
          padding: 11px 25px 11px 15px;
          border-bottom: 1px solid #f3f7fc;
          font-weight: 600;
        }
      }
      background-color: $primary-white;
    }
  }
}
:host ::ng-deep .container {
  .tables {
    table {
      border: 1px solid rgba(24, 28, 33, 0.06);
      width: 100%;
      border-collapse: collapse;
      @include commonTableStyling(1px solid #f1f1f2, 1px solid #f1f1f2);
    }
  }
}
@media only screen and (max-width: 800px) {
  .container {
    .card {
      .card_upper {
        .request_button {
          padding: 20px;
        }
        .card_upper_body {
          .card_content {
            grid-template-columns: 100%;
          }
          .card_bottom {
            .input-box {
              textarea {
                width: 89%;
              }
            }
          }
        }
      }
    }
  }
}
