@import '../../../../../scss/mix';

.container{
  .card{
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
    background-color: $primary-white;
    border-radius: 10px;
    margin-bottom: 20px;
    h3{
      font-size: 20px;
      color: #3246d3;
      font-family: 'Segoe UI';
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
    }

    .card_inner{
      padding: 1em;

      .card_body{
        @include grid(grid-template-columns , '33% 33% 33%','','');
        // .input-box {
        //   margin: 0px 10px 0px 10px;
        //   mat-form-field {
        //     width: 18vw;
        //   }
        //   p{
        //     font-size: 14px;
        //     font-weight: 600;
        //     font-family: 'Segoe UI';
        //     color: #2f3031;
        //     margin-bottom: 5px;
        //     margin: 0;
        //   }
        //   ::ng-deep.mat-form-field-appearance-outline
        //   .mat-form-field-infix{
        //     padding: 20px 0px 17px 0px;
        //     border-top: 0em solid transparent;
        //   }
        // }


        @include form-field();
      }
    }
  }
  ::ng-deep.mat-select-panel{
    position: relative;
    top: 50px;
  }
}

