@import '../../../../../scss/mix';

.container{
  .card{
    @include commonCard();
    h3{
      font-size: 20px;
      color: $headingsBlue;
      font-family: 'Segoe UI';
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
    }

    .card_inner{
      padding: 1em;

      .card_body{
        @include grid(grid-template-columns , '33% 33% 33%','');
        @include form-field(100%);
        .input-box{

        }
      }
    }
  }
  ::ng-deep.mat-select-panel{
    position: relative;
    top: 50px;
  }
}

@media only screen and (max-width: 825px) {
  .container {
    .card{
      margin-bottom: 20px;
      .card_inner{
        .card_body{
          @include grid(grid-template-columns , 100%, "");
        }
      }
    }
  }
}
