<div class="container">
  <div class="card" [@enterLeaveAnimation]>
    <h3>Appraisal Detail</h3>
    <div class="card_inner">
      <div class="card_body">
          <div class="input-box">
            <p>Appraisal Cycle</p>
            <mat-form-field  appearance="outline">
              <mat-select class="m" placeholder="Gender" disabled>

              </mat-select>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Appraisal Month</p>
            <mat-form-field appearance="outline" disabled>
              <mat-select placeholder="Gender">

              </mat-select>
            </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
