<div class="container">
  <div class="card">
    <div class="card_header">
      <div class="card_header_body">
        <nav> <span [routerLink]="['HOME' | absolute]" class="homeroute">Home</span> > Reviews > <span>My Performance</span></nav>
        <h4>Performance</h4>
      </div>
    </div>

    <div class="card_upper">
      <div class="card_upper_body">
        <div class="personal_body">
          <div class="personal">
            <img src="../../../../assets/images (1).png" />
            <div class="personal_detail">
              <h3>Shivam Singh</h3>
              <p>Software Engineer(Angular)</p>
              <span>0.5 YRS</span>
            </div>
          </div>

          <div class="personal_achievement">
            <div class="awards">
              <h4>AWARDS</h4>
              <span>N/A</span>
            </div>
            <div class="honours">
              <h4>HONOURS</h4>
              <span>N/A</span>
            </div>
          </div>
        </div>

        <div class="personal_rating">
          <div class="ratings">
            <h2>5</h2>
            <p>
              <span>Jan 2021 - TILL NOW</span>
            </p>
          </div>
          <div class="ratings_breakup">
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card_lower">
      <div class="header">
        <button>Monthly Rating</button>
      </div>

      <div class="card_lower_body">
        <div class="card_lower_body_header">
          <h4>Monthly Performance Calendar</h4>
          <div class="input-box">
            <p>Select Year:</p>
            <mat-form-field appearance="outline">
              <mat-select [(value)]="yearValue" placeholder="Year" (selectionChange)="yearSelect($event)">
                <mat-option value="2023">2023</mat-option>
                <mat-option value="2022">2022</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card_lower_content">
          <ng-container *ngIf="toggleYear">
            <div class="box" *ngFor="let data of review_list">
              <p>{{ data.title }}</p>
            </div>
          </ng-container>
          <ng-container *ngFor="let info of review_list">
            <div class="box" *ngIf="!toggleYear">
              <div class="box_heading">
                <h3>{{info.title}}</h3>
                <p>3.3</p>
              </div>
              <ng-container *ngIf="info.data">
                <div class="achievement" *ngFor="let data of info.data">
                  <!-- <p>{{data.ratings}}</p> -->
                  <div class="awards">
                    <p>AWARDS:{{data.awards}}</p>
                  </div>
                  <div class="honour">
                    <p>HONOURS:{{data.honours}}</p>
                    <mat-icon  (click)="openDialog()">keyboard_arrow_right</mat-icon>
                  </div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <></> -->
