@import "../../../../../../scss/mix";

.card {
  padding: 20px;
  .appreciation {
    border: 1.5px solid rgba(150, 165, 184, 0.3);
    padding: 16px 16px 80px 16px;
    border-radius: 10px;
    @include position(relative, "", "", "", "");
    min-height: 347px;

    p {
      font-family: "Lato";
      font-size: 12px;
      color: #606167;
      font-weight: 500;
      line-height: 1.9;
    }

    button {
      @include position(absolute, "", 0, 0, "");
      padding: 16px;
      margin: 15px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), $primary-blue;
      background-blend-mode: soft-light, normal;
      border: 1px solid rgba(150, 165, 184, 0.2);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
      border-radius: 4px;
      color: $primary-white;
      padding: 10px 20px 10px 20px;
    }
  }
}

@media only screen and (max-width: 950px) {
  .container {
    .referal {
      .referal-inner {
        .main {
          .main_upper {
            .job_description {
              .jobs {
                @include grid("grid-template-columns", "100%", "");
              }
            }
          }
        }
      }
    }
  }
}
