<div class="bonus_card">
  <div class="bonus_card_upper">
    <div class="bonus_card_content">
      <h2>11K</h2>
      <h3>Referral Bonus</h3>
      <p>For 1 to 3 Years of experience</p>
    </div>
    <div class="bonus_card_content">
      <h2>21K</h2>
      <h3>Referral Bonus</h3>
      <p>For 3 to 5 Years of experience</p>
    </div>
  </div>
  <div class="bonus_card_upper">
    <div class="bonus_card_content">
      <h2>11K</h2>
      <h3>Referral Bonus</h3>
      <p>For 1 to 3 Years of experience</p>
    </div>
    <div class="bonus_card_content">
      <h2>21K</h2>
      <h3>Referral Bonus</h3>
      <p>For 3 to 5 Years of experience</p>
    </div>
  </div>
</div>
