@import "../../../../../scss/mix";

.container {
   min-height: 100%;
  padding: 30px;
  background-color: $common-background;

  .heading {
    margin-bottom: 30px;
    h3 {
      font-size: 24px;
      color: $primary-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  .card {
    background-color: $primary-white;
    padding: 20px;
    .card_heading {
      padding: 0 0 15px 0;
      border-bottom: 1px solid rgba(150, 165, 184, 0.5);
      h4 {
        font-size: 18px;
        color: #231e1e;
        margin-bottom: 0;
      }
    }
  }
}
:host ::ng-deep .container {
  .tables {
    table {
      @include commonTableStyling('','');

      // tbody {
      //   tr {
      //     td {
      //       padding: 10px 10px 10px 20px;
      //     }
      //   }
      // }
      // thead {
      //   tr {
      //     th {
      //       padding: 10px 10px 10px 20px;
      //       color: black;
      //       font-weight: 400;
      //       font-size: 14px;
      //     }
      //   }
      // }
    }
  }
}
@media only screen and (max-width: 629px) {
  :host ::ng-deep .container {
    .tables {
      overflow-x: scroll;
    }
  }
}
