@import "../../../../../../scss/mix";

.mat-dialog-content {
  .card {
    .card_upper {
      @include grid(grid-template-columns, 50% 50%, "");
      @include form-field(100%);
      .input-box {
        textarea {
          width: 93%;
          min-height: 50px;
          border: 1px solid #d8d8d8;
          border-radius: 3px !important;
          padding: 12px 10px !important;
          background: $primary-white;
          resize: none;
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: 600;
      font-family: "Segoe UI";
      color: #2f3031;
      margin-bottom: 5px;
      margin: 0;
    }

    .card_middle {
      @include grid(grid-template-columns, 50% 50%, "");
      @include form-field(100%);

      .card_middle_time {
        @include grid(grid-template-columns, 50% 50%, "");
      }
    }
  }
}

.mat-dialog-actions {
  @include flex('',flex-end);
  .save_button {
    margin-top: 20px;
    margin-left: 10px;
    width: 10%;
    @include button(10px);
  }

  .close {
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    color: $pure-white;
  }
}

@media only screen and (max-width: 680px) {
  .mat-dialog-content {
    .card {
      .card_upper {
        @include grid(grid-template-columns, 100%, "");
      }
      .card_middle {
        @include grid(grid-template-columns, 100%, "");
        .card_middle_time {
          @include grid(grid-template-columns, 100%, "");
        }
      }
    }
  }

  .mat-dialog-actions{
    @include flex('',center);
    .save_button{
      width: 100%;
    }
    .close{
      width: 100%;
    }
  }
}
