.calender {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;

  .heading {
    display: flex;
    justify-content: space-between;
    .month {
      h2 {
        margin: 0;
      }
    }

    .color {
      display: flex;
      span {
        display: block;
        background-color: #bfbfbf;
        height: 18px;
        margin-right: 5px;
        width: 18px;
      }
      .lock {
        display: flex;
        margin-right: 10px;
        span {
          background-color: #bfbfbf;
        }
      }
      .coupon-purchase {
        display: flex;
        margin-right: 10px;

        span {
          background-color: #bdf9ca;
        }
      }
      .coupon-ava {
        display: flex;
        margin-right: 10px;

        span {
          background-color: #bdcff9;
        }
      }
      .holiday {
        display: flex;
        margin-right: 10px;
        span {
          background-color: #f7a2a2;
        }
      }
    }
  }

  .tables {
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td,th {
      border: 1px solid #dddddd;
    }
    td {
      height: 100px;
      padding: 15px;
      vertical-align: top;
      // text-align: right;
      padding-right: 8px;
      font-size: 20px;

      .calender-content {
        display: flex;
        justify-content: space-between;

        .example-section {
          ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
            background-color: #2196f3;
          }
        }
      }
    }

    th {
      font-size: 12px;
      border-bottom: 1px solid #dddddd;
      text-align: center;
      padding: 2px 5px;
    }
  }
  .weekend {
    background-color: #f7a2a2 !important;
  }
  .locked {
    background-color: #bfbfbf;
  }
  .coupon-available {
    background-color: #bdcff9;
  }
  .coupon-purchased {
    background-color: #bdf9ca;
  }
}

@media only screen and (max-width: 679px) {
  .calender {
    .heading {
      display: block;
      .month {
        margin-bottom: 10px;
      }
    }
    .tables{
      overflow-x: auto;
    }
  }
}
@media only screen and (max-width: 593px) {
  .calender {
    .tables{
      overflow-x: auto;
      td{
        padding: 20px;
      }
    }
  }
}
@media only screen and (max-width: 425px) {
  .calender {
    .heading{
      .color{
        display: block;
      }
    }
  }
}
