@import "../../../scss/mix";

.example-notification {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-notification-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-notification-sidenav {
  padding: 20px;
}

.header {
  mat-toolbar {
    padding: 17px 20px 0px 14px;
    @include flex("", space-between);
    background-color: $primary-white;

    .header-left {
      img {
        height: 40px;
        cursor: pointer;
      }

      button {
        border: none;
        background-color: $pure-white;
        @include position(relative, "", 10px, "", "");
        cursor: pointer;

        &:hover {
          color: blue;
        }

        mat-icon {
          position: relative;
          bottom: 10px;
        }
      }

      .app_logo {
        width: 54%;
      }
    }
    .right {
      @include grid(grid-template-columns, "55% 23% 10%", 18px);
      padding: 10px;
      .logo {
      }
      .userName {
        cursor: pointer;
        img {
          width: 31px;
          height: 31px;
          border-radius: 50%;
        }
        span {
          @include position(relative, "", 8px, "", 10px);
          color: #485665;
          font-size: 13px;
        }
      }
      .help {
        margin: 0;
        padding: 0;
        button {
          cursor: pointer;
          color: $pure-white;
          background-color: red;
          padding: 3px;
          margin-left: 9px;
          font-weight: bold;
        }
      }

      .bellIcon {
        mat-icon {
          @include position(relative, 4px, "", "", "");
          color: grey;
          cursor: pointer;
        }
      }
      .notification-box {
        padding: 24px;
        margin-top: 3rem;
        min-height: calc(100vh - 6em);
        width: 20em;
        position: fixed;
        right: 0;
        z-index: 9999;
        border-radius: 3px;
        background: #f7f7f7;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        overflow: scroll;
        .close {
          cursor: pointer;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
        }
        .notify-card {
          margin-bottom: 15px;
          border: 1px solid #cac5c578;
          border-radius: 12px;
          .notify-header {
            padding: 10px;
            border-radius: 12px 12px 0 0 !important;
            background-color: #0000000f;
          }
        }
      }
    }
  }
}

.example-container {
  @include position(relative, 10px, "", "", "");
  .example-sidenav {
    mat-nav-list {
      mat-list-item {
        margin-bottom: 8px;
        mat-icon {
          margin-right: 10px;
          margin-left: 5px;
        }
        span {
          font-weight: 500;
          font-size: 14px;
        }

      }
      .disable{
        color: grey;
        &:hover{
          color: #199cff;
        }
      }
    }

    ::ng-deep {
      .mat-drawer-inner-container {
        @include custom-scroller("y", 5px, white);
      }
    }

    &:hover {
      ::ng-deep {
        .mat-drawer-inner-container {
          @include custom-scroller("y", 5px, grey);
        }
      }
    }
  }

  .parent {
    &:hover {
      color: #199cff;
      background-color: white;
    }
  }
  .activeLink {
    color: #199cff;
    border-left: 4px solid blue;
    background-color: white;
  }
  .activeLink1 {
    color: #199cff;
  }

  ::ng-deep.mat-drawer-content {
    background-color: white;
  }
}

.example-sidenav-content {
  @include custom-scroller("y");
  height: 900px;
}
.full-width {
  width: 9rem;
  margin-top: 3px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(268deg);
}
.menu-button.rotated {
  transform: rotate(360deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}
.covid-help {
  height: 60px;
  font-size: 18px;
  position: fixed;
  background-color: white;
  color: red;
  bottom: 5%;
  right: 0;
  border-radius: 20px 0 0 20px;
  z-index: 999;
}

@media only screen and (max-width: 1000px) {
  .header {
    mat-toolbar {
      display: block;
      .right {
        display: none;
      }

      .header-left {
        @include flex("", space-between);
        img {
          width: 17%;
        }

        button {
          mat-icon {
            position: relative;
            bottom: 0;
          }
        }

        .app_logo {
          display: none;
        }
      }
    }
  }

  .example-container {
    ::ng-deep.mat-drawer-content {
      display: contents;
    }

    .secondary {
      display: none;
    }

    .example-sidenav-content {
      height: 93vh;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    mat-toolbar {
      .header-left {
        img {
          width: 35%;
        }
      }
    }
  }
}
