@import "../../../scss/mix";

.header {
  // @include position(fixed , '','','','');
  width: 100%;
  z-index: 10000;
  mat-toolbar {
    padding: 17px 20px 0px 14px;
    @include flex('',space-between);
    background-color: $primary-white;

    .header-left {
      img {
        // width: 60%;
        height: 40px;
        cursor: pointer;
      }

      button {
        border: none;
        background-color: white;
        @include position(relative , '',10px,'','');
        cursor: pointer;

        &:hover{
          color: blue;
        }

        mat-icon{
          position: relative;
          bottom: 10px;
        }
      }

      .app_logo {
        width: 54%;
      }
    }
    .right {
      @include grid(grid-template-columns , '55% 23% 10%', 18px );
      padding: 10px;
      .logo {
      }
      .userName {
        img{
          width: 31px;
          height: 31px;
          border-radius: 50%;
        }
        span{
          position: relative;
          bottom: 8px;
          right: 10px;
          color: #485665;
          font-size: 13px;
        }
      }
      .help {
        margin: 0;
        padding: 0;
        // width: 80%;
        // background-color: red;
        button{
          color: white;
          background-color: red;
          padding: 3px;
          margin-left: 9px;
          // width: 30px;
          font-weight: bold;

        }
      }

      .bellIcon{
        mat-icon{
          color: grey
        }
      }
    }
  }
}

.example-container {
  @include position(relative , 10px,'','','');
  .example-sidenav{
    mat-nav-list{
      @include custom-scroller('y');
      mat-list-item{
        margin-bottom: 8px;
        mat-icon{
          margin-right: 10px;
          margin-left: 5px;
        }
        span{
          font-weight: 500;
          font-size: 14px;

          .s{
            display: none;
          }
          .w{
            background-color: red;
          }
        }
      }
    }
  }

  .parent{
    &:hover{
      color: blue;
    }
  }
  .activeLink{
    color: blue;
  }

  ::ng-deep.mat-drawer-content{
    background-color: white
  }

}

.example-sidenav-content {
  @include custom-scroller('y');
  height: 900px;
}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 9rem;
  margin-top: 3px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(268deg);
}
.menu-button.rotated {
  transform: rotate(360deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}


@media only screen and (max-width: 1000px) {
  .header{
    mat-toolbar{
      display: block;
      .right{
        display: none;
      }

      .header-left{

        @include flex('',space-between);
        img {
          width: 17%;
        }


        button{
          mat-icon{
            position: relative;
            bottom: 0;
          }
        }

        .app_logo{
          display: none;
        }
      }
    }
  }


  .example-container{


    ::ng-deep.mat-drawer-content{
      display: contents;
    }

    .secondary{
      display: none;
    }

    .example-sidenav-content {
      height: 93vh;
    }
  }
}

@media only screen and (max-width:600px){
  .header{
    mat-toolbar{
      .header-left{
        img{
          width: 35%;
        }
      }

    }
  }
}
