@import "../../../scss/mix";

.header {
  @include position(fixed , '','','','');
  width: 100%;
  z-index: 10000;
  mat-toolbar {
    padding: 17px 0px 0px 14px;
    @include flex('',space-between);
    background-color: $primary-white;

    .header-left {
      img {
        width: 60%;
      }

      button {
        border: none;
        background-color: white;
        @include position(relative , '',10px,'','');
        cursor: pointer;

        &:hover{
          color: blue;
        }
      }

      .app_logo {
        width: 54%;
      }
    }
    .header-right {
      @include flex('',space-between);
      .logout {
        @include flex('','');
        p {
          font-size: 13px;
        }
      }
    }
  }
}

.example-container {
  @include position(relative , 70px,'','','');

  .example-sidenav{
    mat-nav-list{
      mat-list-item{
        margin-bottom: 8px;
        mat-icon{
          margin-right: 10px;
          margin-left: 5px;
        }
        span{
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
  }

  .parent{
    &:hover{
      color: blue;
    }
  }
  .activeLink{
    color: blue;
  }

}

.example-sidenav-content {
  height: 900px;

}
.example-sidenav {
  user-select: none;
}
.full-width {
  width: 9rem;
  margin-top: 3px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(268deg);
}
.menu-button.rotated {
  transform: rotate(360deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.submenu.expanded {
  transform: scaleY(1);
}


@media only screen and (max-width: 1000px) {
  .header{
    mat-toolbar{
      display: block;
      .header-right{
        display: none;
      }

      .header-left{
        @include flex('',space-between);
        img {
          width: 17%;
        }

        .app_logo{
          display: none;
        }
      }
    }
  }


  .example-container{

    ::ng-deep.mat-drawer-content{
      display: contents;
    }

    .secondary{
      display: none;
    }
    .example-sidenav-content {
      height: 100%;

    }
  }

}
