<div class="header">
  <mat-toolbar class="example-toolbar">
    <div class="header-left">
      <img [routerLink]="['HOME' | absolute]" src="../../../assets/applogo.png" />
      <!-- <img class="app_logo" *ngIf="!isExpanded" src="../../../assets/DeepinScreenshot_select-area_20230201160408.png"> -->
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="right">
      <div class="userName" [matMenuTriggerFor]="menu">
        <span>Shivam Singh</span>
        <img src="../../../assets/images (1).png" />
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <div mat-menu-item [routerLink]="['BASIC_INFORMATION' | absolute]">
          <mat-icon>person</mat-icon> My Profile
        </div>
        <div mat-menu-item [routerLink]="['CHANGE_PASSWORD' | absolute]">
         <mat-icon>key</mat-icon> Change Password
        </div>
        <hr>
        <div mat-menu-item [routerLink]="['AUTH' | absolute]">
          <mat-icon>logout</mat-icon> Sign Out
         </div>
      </mat-menu>
      <div class="help">
        <button>Help</button>
      </div>
      <div class="bellIcon">
        <mat-icon>notifications</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</div>
<div>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-nav-list [ngClass]="isExpanded ? 'primary' : 'secondary'">
        <ng-container *ngFor="let item of sideroutes">
          <mat-list-item class="parent" [routerLink]="item.link" [routerLinkActive]="item.link ? 'activeLink' : ''"
            (click)="showSubmenu = !showSubmenu" (click)="item.show = !item.show">
            <mat-icon>{{ item.logo }}</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing">{{
              item.title
              }}</span>
            <div *ngIf="item.options">
              <mat-icon class="menu-button" [ngClass]="{ rotated: item.show }" *ngIf="isExpanded || isShowing">
                expand_more</mat-icon>
            </div>
          </mat-list-item>
          <div class="submenu" [ngClass]="{ expanded: item.show }" *ngIf="item.show">
            <ng-container *ngFor="let item1 of item.options">
              <mat-list-item class="parent" [routerLink]="item1.link" routerLinkActive="activeLink1"
                [ngClass]="isExpanded ? 'primary' : 'secondary'">
                <mat-icon *ngIf="item1.subLogo">{{ item1.subLogo }}</mat-icon>
                <span *ngIf="isExpanded || isShowing">{{
                  item1.subTitle
                  }}</span>
              </mat-list-item>
            </ng-container>
          </div>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
