<div class="header">
  <mat-toolbar class="example-toolbar">
    <div class="header-left">
      <img  src="../../../assets/applogo.png" />
      <!-- <img class="app_logo" *ngIf="!isExpanded" src="../../../assets/DeepinScreenshot_select-area_20230201160408.png"> -->
      <button mat-icon-button (click)="isExpanded = !isExpanded">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div class="header-right">
      <div class="logout">
        <p>Shivam Singh</p>
        <mat-icon>home</mat-icon>
      </div>
      <div>
        <p>Help</p>
      </div>
      <div>
        <mat-icon>notifications</mat-icon>
      </div>
    </div>
  </mat-toolbar>
</div>
<div>
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-nav-list [ngClass]=" isExpanded ? 'primary' : 'secondary'">
        <ng-container *ngFor="let item of sideroutes">
          <mat-list-item  [routerLink]="item.link" routerLinkActive="activeLink" (click)="showSubmenu = !showSubmenu" (click)="item.show= !item.show"  >
            <mat-icon>{{item.logo}}</mat-icon>
            <span class="full-width" *ngIf="isExpanded || isShowing" >{{item.title}}</span>
            <div *ngIf="item.options">
              <mat-icon class="menu-button" [ngClass]="{'rotated' : item.show}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
            </div>
          </mat-list-item>
          <div class="submenu"  [ngClass]="{'expanded' : item.show}" *ngIf="item.show">
            <ng-container *ngFor="let item1 of item.options">
              <mat-list-item [routerLink]="item1.link" routerLinkActive="activeLink">
                {{item1.subTitle}}
              </mat-list-item>
            </ng-container>
          </div>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</div>

