@import "../../../../../scss/mix";

.card {
  @include commonCard();
  .card_header {
    h2 {
      font-size: 20px;
      color: $headingsBlue;
      font-family: "Segoe UI";
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
      margin: 0px;
    }
  }

  .card_body {
    padding: 1em;
    .card_upper {
      @include grid("grid-template-columns", "33% 33% 33%", "");
      margin-bottom: 20px;
      @include form-field(100%);
    }

    .card_middle {
      @include grid("grid-template-columns", "50% 50%", "");

      margin-bottom: 20px;

      p {
        font-size: 14px;
        font-weight: 600;
        font-family: "Segoe UI";
        color: #2f3031;
        margin-bottom: 5px;
        margin: 0;
      }
      @include form-field(100%);
      .years_experience {
        @include grid("grid-template-columns", 50% 50%, "");
      }

      .relevant_experience {
        @include grid("grid-template-columns", 50% 50%, "");
      }
    }

    .card_bottom {
      @include form-field(100%);
      .input-box {
        textarea {
          width: 96%;
          min-height: 100px;
          border: 1px solid #d8d8d8;
          border-radius: 3px !important;
          padding: 12px 10px !important;
          background: $primary-white;
          resize: none;
        }
      }
    }

    button {
      margin-top: 20px;
      margin-left: 10px;
      @include button(10px);
    }
  }
}



@media only screen and (max-width: 825px) {
  .card {
    margin-bottom: 20px;
    .card_body {
      .card_upper {
        @include grid(grid-template-columns, 100%, "");
      }
      .card_middle {
        @include grid(grid-template-columns, 100%, "");

        .years_experience {
          @include grid(grid-template-columns, 100%, "");
        }
        .relevant_experience {
          @include grid(grid-template-columns, 100%, "");
        }
      }
    }
  }
}
