<div class="card" [@enterLeaveAnimation]>
  <div class="card_header">
    <h2>Basic Information</h2>
  </div>
  <form [formGroup]="basicInfo">
    <div class="card_body">
      <div class="card_upper">
        <div class="input-box">
          <p>First Name</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" formControlName="firstname" />
            <mat-error>{{basicInfo | validationError : 'firstname' : 'First Name'}}</mat-error>
          </mat-form-field>
        </div>

        <div class="input-box">
          <p>Last Name</p>
          <mat-form-field appearance="outline">
            <input matInput  placeholder="Last Name" formControlName="lastname" />
            <mat-error>{{basicInfo | validationError : 'lastname' : 'Last Name'}}</mat-error>
          </mat-form-field>

        </div>
        <div class="input-box">
          <p>Date of Birth</p>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker1" placeholder="Date of Birth" formControlName="dateOfBirth" readonly [max]="minFromDate"/>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error>{{basicInfo | validationError : 'dateOfBirth' : 'Date of Birth'}}</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="card_upper">
        <div class="input-box">
          <p>Gender</p>
          <app-dropdown-with-search  [error]="basicInfo | validationError : 'gender' : 'Gender'" [myControlName]="basicInfo.controls.gender" [data]="genderdropDown" [placeholder]="'Gender'"></app-dropdown-with-search>
        </div>

        <div class="input-box">
          <p>Martial Status</p>
          <app-dropdown-with-search [error]="basicInfo | validationError : 'martialStatus' : 'Martial Status'" [myControlName]="basicInfo.controls.martialStatus" [data]="martialdropDown" [placeholder]="'Martial Status'"></app-dropdown-with-search>

        </div>
        <div class="input-box">
          <p>Conatct Number</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Contact Number" formControlName="contactNumber" />
            <mat-error>{{basicInfo | validationError : 'contactNumber' : 'Conatct Number'}}</mat-error>
          </mat-form-field>

        </div>
      </div>
      <div class="card_middle">
        <div>
          <p style="margin-left: 12px; margin-bottom: 3px">
            Years of Experience
          </p>
          <div class="years_experience">
            <div class="input-box">
              <p>Years</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Years" formControlName='experiencedYears' />
                <mat-error>{{basicInfo | validationError : 'experiencedYears' : 'Years'}}</mat-error>
              </mat-form-field>

            </div>
            <div class="input-box">
              <p>Months</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Months" formControlName="experiencedMonths" />
                <mat-error>{{basicInfo | validationError : 'experiencedMonths' : 'Month'}}</mat-error>
              </mat-form-field>


            </div>
          </div>
        </div>

        <div>
          <p style="margin-left: 12px; margin-bottom: 3px">
            Relevant Experience
          </p>
          <div class="relevant_experience">
            <div class="input-box">
              <p>Years</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Years" formControlName="relaventExperiencedYears" />
                <mat-error>{{basicInfo | validationError : 'relaventExperiencedYears' : 'Years'}}</mat-error>
              </mat-form-field>


            </div>
            <div class="input-box">
              <p>Months</p>
              <mat-form-field appearance="outline">
                <input matInput type="number" placeholder="Months" formControlName="relaventExperiencedMonths" />
                <mat-error>{{basicInfo | validationError : 'relaventExperiencedMonths' : 'Months'}}</mat-error>
              </mat-form-field>


            </div>
          </div>
        </div>
      </div>

      <div class="card_bottom">
        <div class="input-box">
          <p>Address</p>
          <mat-form-field appearance="outline">
            <textarea (keydown)="noSpace($event)" placeholder="Address" matInput [value]="basicInfoData?.address"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="save_button">
        <button (click)="onSubmit()">Save</button>
      </div>
    </div>
  </form>
</div>
