<div class="card">
  <div class="card_header">
    <h2>Basic Information</h2>
  </div>
  <div class="card_body">
    <div class="card_upper">
      <div class="input-box">
        <p>First Name</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="First Name" />
        </mat-form-field>
      </div>
      <div class="input-box">
        <p>Last Name</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Last Name" />
        </mat-form-field>
      </div>
      <div class="input-box">
        <p>Date of Birth</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="First Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="card_upper">
      <div class="input-box">
        <p>Gender</p>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Gender">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" >Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-box">
        <p>Martial Status</p>
        <mat-form-field appearance="outline">
          <mat-select placeholder="Martial Status">
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" >Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="input-box">
        <p>Conatct Number</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="First Name" />
        </mat-form-field>
      </div>
    </div>
    <div class="card_middle">
      <div>
        <p style="margin-left: 12px; margin-bottom: 3px;">Years of Experience</p>
        <div class="years_experience">
          <div class="input-box">
            <p>Years</p>
            <mat-form-field appearance="outline">
              <input matInput type="number" placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Months</p>
            <mat-form-field appearance="outline">
              <input matInput type="number" placeholder="First Name" />
            </mat-form-field>
          </div>

        </div>

      </div>

      <div>
        <p style="margin-left: 12px; margin-bottom: 3px;">Relevant Experience</p>
        <div class="relevant_experience">

          <div class="input-box">
            <p>Years</p>
            <mat-form-field appearance="outline">
              <input matInput type="number" placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Months</p>
            <mat-form-field appearance="outline">
              <input matInput type="number" placeholder="First Name" />
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <div class="card_bottom">
      <div class="input-box">
        <p>Address</p>
        <textarea placeholder="Address"></textarea>
      </div>
    </div>
    <div class="save_button">
      <button>Save</button>
    </div>
  </div>

</div>
