<div class="container">
  <div class="card">
    <div class="upper">
      <div class="banner">
        <img src="../../../../assets/applogo.png" />
      </div>
      <div class="reset-text">
        <p>Reset your Password</p>
        <hr>
      </div>
      <div class="reset-link-text">
        <p>We will send you a link to reset password</p>
      </div>
      <div class="input-box">
        <mat-form-field appearance="fill">
          <input matInput placeholder="Enter your email"/>
        </mat-form-field>
      </div>
      <div class="recover-button">
        <p>RECOVER PASSWORD</p>
      </div>
    </div>

    <div class="button_login">
      <p [routerLink]="['/']">BACK TO LOGIN</p>
    </div>
    <div class="text">
      <p> <span>{{newYear}} </span> &#169; Appinventiv HR System</p>
    </div>
  </div>
</div>
