@import '../../../../../scss/mix';
.container{
  padding: 20px;
   min-height: 100%;
  background-color: $common-background;

  .card-header {
    margin-bottom: 30px;
    h3 {
      font-size: 24px;
      color: $primary-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  .card{
    background-color: $primary-white;
    margin: 0px 8px 0px 8px;
    border: 1px solid #dbe2ea;
    border-radius: 5px;

  }
}

:host ::ng-deep .container {
  .tables {
    table {
      @include commonTableStyling('','')
    }
  }
}

@media only screen and (max-width:800px){
  :host ::ng-deep .container {
    .tables {
      overflow-x: scroll;
    }
  }
}
