<form [formGroup]="loginForm">
  <div class="login-form">
    <div class="input-box">
      <p>Email</p>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Your Email" />
      </mat-form-field>
    </div>
    <div class="input-box">
      <p>Password</p>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Enter Password" />
      </mat-form-field>
    </div>

    <div class="forget-link">
      <p [routerLink]="['FORGET_PASSWORD' | absolute]">Forget Password ?</p>
    </div>

    <div class="login-button" (click)="onSubmit()">
      <button><mat-icon>home</mat-icon> <span>LOGIN</span></button>
    </div>
  </div>
</form>
