@import "../../../../../scss/mix";

.container {
  padding: 20px;
   min-height: 100%;
  background-color: $common-background;

  .card-header {
    margin-bottom: 30px;
    @include flex('',space-between);
    h3 {
      font-size: 24px;
      color: $primary-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
    button {
      span {
        position: relative;
        bottom: 7px;
      }
      @include button(5px);
    }
  }

  .card {
    background-color: $primary-white;
    margin: 0px 8px 0px 8px;
    border: 1px solid #dbe2ea;
    border-radius: 5px;
    .card_body {
      padding: 30px;
      h1 {
        @include flex(center,center);
        font-size: 35px;
      }

      .button {
        @include flex(center,center);
        button {
          @include button(10px)
        }
      }
    }
  }
}
