@import "../../../scss/mix";
.containers {
  .tables {
    overflow-x: auto;
    background-color: $primary-white;
    table {
      width: 100%;
      box-shadow: none;
      .edit {
        background-color: grey;
        color: $pure-white;
        border: none;
        padding: 8px;
        margin-right: 5px;
        cursor: pointer;
      }
      .delete {
        background-color: red;
        color: $pure-white;
        border: none;
        padding: 8px;
        cursor: pointer;
      }
      .dsr_button {
        border:1px solid #199cff;
        color: orange;
        background-color: white;

        &:hover{
          cursor: pointer;
          background-color: #28c3d7;
        }
      }
      .dsr_edit {
        border:1px solid #199cff;
        color: #199cff;
        background-color: white;
      }
      .arrow-circle{
        color: #28c3d7;
        background-color: white;
        border: 1px solid #28c3d7;
         cursor: pointer;

      }
      .no_data_row {
        text-align: center;
        background-color: rgba(24, 28, 33, 0.025);

        td {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .icons{
        position: relative;
        top: 8px;
        color: red;
      }
    }
  }
}

.container {
  .buttons {
    text-align: end;
    padding: 20px 20px 10px 12px;
    .search {
      .input-box {
        ::ng-deep.mat-form-field-appearance-outline {
          .mat-form-field-wrapper {
            margin: 0px 0px -5px 0px;
          }
          .mat-form-field-infix {
            padding: 10px 0 15px 0px;
          }
        }
        span {
          margin: 0px;
        }
      }
    }
  }
}

::ng-deep.mat-paginator-outer-container {
  .mat-paginator-container {
    @include flex("", space-between);
  }
  .mat-paginator-page-size-label {
    display: none;
  }
  .mat-paginator-page-size::after {
    content: "Entries";
    color: black;
    font-size: 15px;
  }
  .mat-paginator-page-size::before {
    content: "Show";
    color: black;
    font-size: 15px;
  }
  .mat-paginator-page-size {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 447px) {
  ::ng-deep.mat-paginator-outer-container {
    .mat-paginator-container {
      display: block;
    }
    .mat-paginator-page-size {
      margin-left: 22px;
    }
  }
}
@media only screen and (max-width: 400px) {
  :host ::ng-deep .container {
    .buttons {
      .search {
        mat-form-field {
          width: 50%;
        }
      }
    }
  }
}
@media only screen and (max-width: 645px) {
  .containers {
    .tables {
      table {
        .edit {
          width: 100%;
        }
        .delete {
          width: 100%;
        }
      }
    }
  }
}
