<div class="container">
  <div class="card_body_1">
    <div class="card_header">
      <h2>Add New Qualification</h2>
    </div>
    <div class="card">
      <div class="card_upper">
        <div class="input-box">
          <p>School/University</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Education Level</p>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Eductaion">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" >Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="">
        <p>Time Period</p>
        <div class="card_upper">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="input-box">
            <!-- <p>?</p> -->
            <mat-form-field appearance="outline">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card_upper">
        <div class="input-box">
          <p>Language</p>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Language">
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2" >Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Professional Courses (if any)</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
      </div>

      <div class="card_bottom">
        <div class="input-box">
          <p>Description</p>
          <textarea placeholder="Description"></textarea>
        </div>
      </div>
      <div class="save_button">
        <button>Save</button>
      </div>
    </div>
  </div>

  <div class="card_body_2">
    <div class="card_header">
      <h2>List All Qualification</h2>
    </div>
    <div>
      <div>

        <app-listing [config]="qualificationConfig"></app-listing>
    <app-common-table [tableColumns]="tableColumns" [tableData]="tableData" [isPageable]="true" [defaultPageSize]="3"></app-common-table>
        <!-- <mat-form-field appearance="fill">
          <mat-label>Choose an option</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2" >Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field> -->

      </div>
    </div>
  </div>
</div>
