@import '../../../../../scss/mix';

.container {
  .card_body_1 {
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
    background-color: $primary-white;
    border-radius: 10px;
    margin-bottom: 20px;
    .card_header {
      h2 {
        font-size: 20px;
        color: #3246d3;
        font-family: "Segoe UI";
        padding: 11px 25px 11px 15px;
        border-bottom: 1px solid #f3f7fc;
        font-weight: 700;
        margin: 0px;
      }
    }

    .card {
      padding: 1em;
      .card_upper {
       @include grid(grid-template-columns , 50% 50% , '');
        margin-bottom: 20px;
        @include form-field(100%);
      }

      .card_bottom {

        @include form-field(100%);
        .input-box {
          textarea {
            width: 97%;
            min-height: 100px;
            border: 1px solid #d8d8d8;
            border-radius: 3px !important;
            padding: 12px 10px !important;
            background: $primary-white;
            resize: none;
          }
        }
      }

      button{
        margin-top: 20px;
        margin-left: 10px;
        width: 10%;
        @include button(10px);
      }
      p {
        font-size: 14px;
        font-weight: 600;
        font-family: "Segoe UI";
        color: #2f3031;
        margin-bottom: 5px;
        margin: 0;
      }
    }
  }
  .card_body_2{
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
    background-color: $primary-white;
    border-radius: 10px;
    .card_header {
      h2 {
        font-size: 20px;
        color: #3246d3;
        font-family: "Segoe UI";
        padding: 11px 25px 11px 15px;
        border-bottom: 1px solid #f3f7fc;
        font-weight: 700;
        margin: 0px;
      }
    }
  }
}

@media only screen and (max-width: 825px) {
  .container {
    .card_body_1 {
      .card{
        .card_upper{
          @include grid(grid-template-columns , 100%, "");
        }
      }
    }
  }
}


