<div class="container" [@enterLeaveAnimation]>
  <div class="card_body_1">
    <div class="card_header">
      <h2>Add New Qualification</h2>
    </div>

    <form [formGroup]="qualification">
      <div class="card">
        <div class="card_upper">
          <div class="input-box">
            <p>School/University</p>
            <mat-form-field appearance="outline">
              <input matInput placeholder="School/University" formControlName="school" />
              <mat-error>{{
                qualification | validationError : "school" : "School/University"
                }}</mat-error>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Education Level</p>
            <app-dropdown-with-search [error]="qualification | validationError : 'education_level' : 'Education Level'" [myControlName]="qualification.controls.education_level" [data]="dropdown"
              [placeholder]="'Education Level'"></app-dropdown-with-search>
          </div>
        </div>
        <div class="">
          <p style="margin-left: 7px">Time Period</p>
          <div class="card_upper">
            <div class="input-box">
              <mat-form-field appearance="outline">
                <input [max]="qualification.value.date_to" matInput [matDatepicker]="picker1"
                  formControlName="date_from" placeholder="from" readonly />
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
                <mat-error>{{qualification | validationError : 'date_from' : 'Time'}}</mat-error>
              </mat-form-field>
            </div>
            <div class="input-box">
              <!-- <p>?</p> -->
              <mat-form-field appearance="outline">
                <input [min]="qualification.value.date_from" matInput [matDatepicker]="picker2"
                  formControlName="date_to" placeholder="to" readonly />
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
                <mat-error>{{qualification | validationError : 'date_to' : 'Time'}}</mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card_upper">
          <div class="input-box">
            <p>Language</p>
            <app-dropdown-with-search [error]="qualification | validationError : 'language' : 'Language'" [myControlName]="qualification.controls.language" [data]="dropdown"
              [placeholder]="'Language'"></app-dropdown-with-search>

          </div>
          <div class="input-box">
            <p>Professional Courses (if any)</p>
            <mat-form-field appearance="outline">
              <input matInput (keydown)="noSpace($event)" placeholder="Professional Courses"
                formControlName="Courses" />
                <mat-error>{{qualification | validationError : 'Courses' : 'Courses'}}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="card_bottom">
          <div class="input-box">
            <p>Description</p>
            <textarea placeholder="Description"></textarea>

            <!-- <app-field-error [error]="qualification | validationError : 'description' : 'Description'"></app-field-error> -->
          </div>
        </div>
        <div class="save_button">
          <button (click)="saveData()">Save</button>
        </div>
      </div>
    </form>
  </div>

  <div class="card_body_2">
    <div class="card_header">
      <h2>List All Qualification</h2>
    </div>
    <div>
      <div>
        <app-common-table [config]="qualificationConfig" (buttonClick)="buttonClick($event)"
          [tableColumns]="tableColumns" [dataSource]="dataSource"></app-common-table>
      </div>
    </div>
  </div>
</div>
