<div class="container">
  <div class="card_body_1">
    <div class="card_header">
      <h2>Add New Qualification</h2>
    </div>
    <div class="card">
      <div class="card_upper">
        <div class="input-box">
          <p>School/University</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Education Level</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <p>Time Period</p>
        <div class="card_upper">
          <div class="input-box">
            <mat-form-field appearance="outline">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="input-box">
            <!-- <p>?</p> -->
            <mat-form-field appearance="outline">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="card_upper">
        <div class="input-box">
          <p>Language</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Professional Courses (if any)</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
      </div>

      <div class="card_bottom">
        <div class="input-box">
          <p>Description</p>
          <textarea placeholder="Description"></textarea>
        </div>
      </div>
      <div class="save_button">
        <button>Save</button>
      </div>
    </div>
  </div>

  <div class="card_body_2">
    <div class="card_header">
      <h2>List All Qualification</h2>
    </div>
  </div>
</div>
