<div class="container">
  <div class="card">
    <h3>Employee Force Change Password</h3>
    <div class="card_inner">
      <div class="card_body">
        <div class="input-box">
          <p>Old Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>New Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" />
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Confirm Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" />
          </mat-form-field>
        </div>
      </div>
      <div class="save_button">

        <button>Save</button>
      </div>
    </div>
  </div>
</div>
