<div class="container">
  <div class="card" [@enterLeaveAnimation]>
    <h3>Employee Force Change Password</h3>
    <div class="card_inner">
      <form [formGroup]="password ">

      <div class="card_body">
        <div class="input-box">
          <p>Old Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" formControlName="old_pass" />
            <mat-error>{{password | validationError : 'old_pass' : 'Old Password'}}</mat-error>
          </mat-form-field>

        </div>
        <div class="input-box">
          <p>New Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Last Name" formControlName="new_pass" />
            <mat-error>{{password | validationError : 'new_pass' : 'New Password'}}</mat-error>
          </mat-form-field>

        </div>
        <div class="input-box">
          <p>Confirm Password</p>
          <mat-form-field appearance="outline">
            <input matInput placeholder="First Name" formControlName="confirm_pass" />
            <mat-error>{{password | validationError : 'confirm_pass' : 'Confirm Password'}}</mat-error>
          </mat-form-field>


        </div>
      </div>
    </form>

      <div class="save_button">

        <button (click)="save()">Save</button>
      </div>
    </div>
  </div>
</div>
