@import '../../../../../scss/mix';

.container{
  .card{
    @include commonCard();
    margin-bottom: 20px;
    h3{
      font-size: 20px;
      color: $headingsBlue;
      font-family: 'Segoe UI';
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
    }

    .card_inner{
      padding: 0.5em 1em 3em 2em;

      .card_body{

        p{

          font-size: 14px;
          font-weight: 600;
          font-family: 'Segoe UI';
          color: #2f3031;
          margin-bottom: 5px;
        }

        @include form-field(100%);
        .input-box{
          margin-bottom: 20px;
        }
      }
      button{
        width: 5rem;
        margin-top: 20px;
        margin-left: 10px;
        @include button(10px);
      }
    }
  }
}

