<div class="container">
  <div class="card-header">
    <h3>Upcoming Trainings</h3>
  </div>
  <div class="card">
    <div class="card_upper">
      <div class="card_body">
        <div class="job_logo">
          <img
            src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png"
          />
        </div>
      </div>

      <div class="card_middle">
        <div class="traning_desc">
          <h3>Micro Frontend Angular</h3>
        </div>
      </div>

      <div class="card_bottom">
        <div class="attend">
          <p>Who can attend</p>
          <h3>Angular</h3>
        </div>
        <div class="traning_details">
          <div>
            <p>Start Date</p>
            <h3>Jan-05-2023</h3>
          </div>
          <div>
            <p>End Date</p>
            <h3>Jan-05-2023</h3>
          </div>
          <div>
            <p>Seats</p>
            <h3>41</h3>
          </div>
        </div>
      </div>
      <div class="card_button">
        <button>View Details</button>
        <button class="refer_candidate_button">Enroll Training</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
