@import '../../../../../../../scss/mix';

h1{
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 0 0 5px;
}


.container{
  h3{
    text-align: center;
  }

  .buttons{
    @include flex('',center);

    button{
      margin-right: 10px;
      padding: 15px;
      color: $pure-white;
      border: none;
      border-radius: 5px;
    }
    .ok_button{
      background-color: rgb(48, 133, 214);
    }

    .cancel_button{
      cursor: pointer;
      background-color: red;
    }
  }
}
@media only screen and (max-width:350px){
  .container{
    .buttons{
      display: block;
      .ok_button{
        width: 100%;
        margin-bottom: 10px;
      }
      .cancel_button{
        width: 100%;
      }
    }
  }
}
