<div class="heading">
  <h3 mat-dialog-title>PROJECT NAME:<strong>Training Project React JS</strong></h3>
  <h4 mat-dialog-title>REVIEWED BY: Rabban Ahmad (Project Manager)</h4>

</div>

<div class="container">
  <div class="cards">
    <div class="honours">
      <h4>HONOURS</h4>
      <span>N/A</span>
    </div>

    <div class="ratings">
      <div class="rating">
        <p>5</p>
      </div>
      <div class="rating_breakup">
        <div class="technical">
          <p>Technical Skills</p>
          <span>3.0</span>
        </div>
        <div class="technical">
          <p>Technical Skills</p>
          <span>3.0</span>
        </div>
        <div class="technical">
          <p>Technical Skills</p>
          <span>3.0</span>
        </div>
        <div class="technical">
          <p>Technical Skills</p>
          <span>3.0</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div> -->
