<div class="container">
  <div class="header_my_details">
    <div class="my_details">
      <img [src]= myProfileData?.profilePic >
      <div class="my_details_body">
        <h2>{{myProfileData?.firstname}} {{myProfileData?.lastname}}</h2>
        <p><strong>Email : </strong> <span>{{myProfileData?.email}}</span></p>
        <p><strong>Employee ID : </strong> <span>{{myProfileData?.companyInfo.empId}}</span></p>
        <p><strong>Designation : </strong> <span>{{myProfileData?.companyInfo.designation}}</span></p>
        <p><strong>Last Login : </strong> <span>Feb-01-2023 10:17 PM from 172.31.25.47</span></p>
      </div>
    </div>
  </div>
  <div class="profile">
    <div class="emp_info">
      <div class="emp_info_body">
        <div class="basic_information" [routerLink]="['BASIC_INFORMATION' | absolute]" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <p><a>Basic Information</a></p>
        </div>
        <div class="basic_information" [routerLink]="['PROFILE_PICTURE' | absolute]" routerLinkActive="active">
          <mat-icon>camera</mat-icon>
          <p>Profile Picture</p>
        </div>
        <div class="basic_information" [routerLink]="['QUALIFICATION' | absolute]" routerLinkActive="active">
          <mat-icon>book</mat-icon>
          <p>Qualification</p>
        </div>
        <div class="basic_information" [routerLink]="['SHIFT' | absolute]" routerLinkActive="active">
          <mat-icon>person</mat-icon>
          <p>Shift</p>
        </div>
        <div class="basic_information" [routerLink]="['CHANGE_PASSWORD' | absolute]" routerLinkActive="active">
          <mat-icon>key</mat-icon>
          <p>Change Password</p>
        </div>
        <div class="basic_information" [routerLink]="['APPRAISAL' | absolute]" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <p>Appraisal</p>
        </div>
      </div>
    </div>
    <div class="emp_info_data">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div>
  </div>
</div>

<div>
  <!-- <></> -->
</div>
