@import "../../../../../scss/mix";

.container {
   min-height: 100%;
  padding: 30px;
  background-color: $common-background;

  .heading {
    margin-bottom: 30px;

    h3 {
      font-size: 24px;
      color: $primary-blue;
      font-weight: 500;
      line-height: 1.2;
      margin-bottom: 0;
    }
  }

  .cardss {
    @include grid(grid-template-columns, "33% 33% 33%", 10px);

    .card {
      padding: 20px;
      border: 1px solid rgba(150, 165, 184, 0.3);
      border-radius: 10px;
      background-color: $primary-white;

      .card_upper {
        @include position(relative, "", "", "", "");

        background-color: $primary-white;

        .job_logo {
          @include flex(center, center);
          border: 1px solid rgba(150, 165, 184, 0.3);
                   padding: 20px;
          min-height: 130px;
          border-radius: 10px;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
      }

      .card_middle {
        padding: 10px 0;
        border-bottom: 1px solid rgba(150, 165, 184, 0.5);

        .job_desc {

          @include flex('',space-between);

          h3 {
            font-family: "Lato";
            font-size: 20px;
            color: #231e1e;
            font-weight: 600;
            line-height: 1.2;
            margin-bottom: 5px;
            overflow: hidden;
          }

          span {
            background-color: #02bc77;
            color: $primary-white;
            padding: 3px;
            font-size: 0.858em;
            font-weight: 500;
            height: 16px;
          }
        }
      }

      .card_bottom {
        @include flex("", space-between);
        padding: 10px;
        border-bottom: 1px solid rgba(150, 165, 184, 0.5);

        p {
          margin: 0 0 6px;
          font-family: "Lato";
          font-size: 13px;
          color: #606167;
          font-weight: 400;
          line-height: 1.2;
        }

        h3 {
          font-family: "Lato";
          font-size: 16px;
          color: black000;
          font-weight: 600;
          line-height: 1.2;
        }
      }

      .card_button {
        @include grid(grid-template-columns, "49% 49%", 2%);
        margin-top: 10px;

        .view_detail {
          cursor: pointer;
          color: $primary-blue;
          border: none;
          border-radius: 10px;
          padding: 15px;
          background: rgba(24, 28, 33, 0.06);
        }

        .refer {
          @include button(15px);
        }
      }
    }
  }
}

@media only screen and (max-width: 1020px) {
  .container {
    .cardss {
      .card {
        .card_bottom {
          h3 {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  .container {
    .cardss {
      @include grid(grid-template-columns, "50% 50%", 10px);
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .cardss {
      @include grid(grid-template-columns, "100%", 10px);
      .card {
        .card_button {
          display: block;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
