<div class="container">
  <div class="card">
    <div class="card_header">
      <div class="card_header_body">
        <nav>Home > My trainings > Details</nav>
        <h4>Angular Training Feb- 2022</h4>
      </div>
    </div>

    <div class="card_upper">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Trainings Details">
          <app-trainings-details></app-trainings-details>
        </mat-tab>
        <mat-tab label="Sub-Topics">
          <app-sub-topics></app-sub-topics>
        </mat-tab>
        <mat-tab label="Attendence">
<app-attendence></app-attendence>
        </mat-tab>
      </mat-tab-group>
      <div>

      </div>
    </div>
  </div>
</div>

<div>
  <app-footer></app-footer>
</div>
