<div class="container">
  <div class="header">
    <p>Add pitch</p>
    <div class="buttons">
      <button class="cancel_button" (click)="myPitch()">Cancel</button>
      <button (click)="addPitchSubmit()" class="submit_button">Submit</button>
    </div>
  </div>
  <form [formGroup]="addPitch">
    <div class="card">
      <div class="heading">
        <h3>My Details</h3>
      </div>

      <div class="my_detail">
        <div class="input-box">
          <p>Name</p>
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" placeholder="Name"/>
          </mat-form-field>
        </div>

        <div class="my_detail_body">
          <div class="input-box">
            <p>Employee Id</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="employeeId" placeholder="Name"/>
            </mat-form-field>
          </div>
          <div class="input-box">
            <p>Date of birth</p>
            <mat-form-field appearance="outline">
              <input matInput formControlName="date_of_birth" placeholder="Name"/>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="heading">
        <h3>Pitch Details</h3>
      </div>
      <div class="pitch_detail">
        <div class="input-box">
          <p>Pitch Title</p>
          <mat-form-field appearance="outline">
            <input matInput (keydown)="noSpace($event)" placeholder="Title" formControlName="title"/>
            <mat-error>{{addPitch | validationError : 'title' : 'Pitch title'}}</mat-error>
          </mat-form-field>
        </div>
        <div class="input-box">
          <p>Industry</p>
          <app-dropdown-with-search [error]="addPitch | validationError : 'industry' : 'Industry'" [myControlName]="addPitch.controls.industry" [data]="dropDown" [placeholder]="'Industry'"></app-dropdown-with-search>
        </div>
        <div class="input-box">
          <p>Type</p>
          <app-dropdown-with-search [error]="addPitch | validationError : 'type' : 'Type'" [myControlName]="addPitch.controls.type" [data]="dropDown" [placeholder]="'Type'"></app-dropdown-with-search>

        </div>
        <div class="textarea">
          <p>Idea - (Share your idea in brief)</p>
          <angular-editor [config]="editorConfig" placeholder="'Enter industrytext here...'" formControlName="idea"></angular-editor>
          <mat-error>{{addPitch | validationError : 'idea' : 'Idea'}}</mat-error>
        </div>

        <div class="choose-file">
          <p>
            Presentation - (Share your detailed presentation on the idea)
            (ppt,pdf)
          </p>
          <input type="file" />
        </div>
      </div>
    </div>
  </form>
</div>

<!-- <></> -->
