@import '../../../../../scss/mix';

.container{
  .card{
   @include commonCard();
   margin-bottom: 20px;
    h3{
      font-size: 20px;
      color: $headingsBlue;
      font-family: 'Segoe UI';
      padding: 11px 25px 11px 15px;
      border-bottom: 1px solid #f3f7fc;
      font-weight: 700;
    }
  }
}
:host ::ng-deep .container {
  .tables{
    border: none;
    padding: 0px 18px 30px 16px;
    table{
      @include commonTableStyling('','');
      tbody{
        background-color: $dullGrey;
      }
    }
  }
}


@media only screen and (max-width:344px){
  :host ::ng-deep .container {
    .tables{
      overflow-x: scroll;
    }
  }
}
