<div class="container">
  <div class="card">
    <div class="card_header">
      <div class="card_header_body">
        <nav>Home > My trainings > Details</nav>
        <h4>Performance</h4>
      </div>
    </div>

    <div class="card_upper">
      <div class="card_upper_body">
        <div class="personal_body">
          <div class="personal">
            <img src="../../../../assets/images (1).png">
            <div class="personal_detail">
              <h3>Shivam Singh</h3>
              <p>Software Engineer(Angular)</p>
              <span>0.5 YRS</span>
            </div>
          </div>

          <div class="personal_achievement">
            <div class="awards">
              <h4>AWARDS</h4>
              <span>N/A</span>
            </div>
            <div class="honours">
              <h4>HONOURS</h4>
              <span>N/A</span>
            </div>
          </div>
        </div>

        <div class="personal_rating">
          <div class="ratings">
            <h2>5</h2>
            <p>
              <span>Jan 2021 - TILL NOW</span>
            </p>
          </div>
          <div class="ratings_breakup">
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
            <div class="ratings_breakup_body">
              <p>Technical Skills</p>
              <span>3.1</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card_lower">

      <div class="header">
        <button>Monthly Rating</button>
      </div>

      <div class="card_lower_body">
        <div class="card_lower_body_header">
          <h4>Monthly Performance Calendar</h4>
          <div class="input-box">
            <p>Select Year:</p>
            <mat-form-field appearance="outline">
              <mat-select placeholder="Year">
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2" >Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="card_lower_content">
          <div class="box">
            <p>January</p>
          </div>
          <div class="box">
            <p>January</p>

          </div>
          <div class="box">
            <p>January</p>

          </div>
          <div class="box">
            <p>January</p>

          </div>
          <div class="box">
            <p>January</p>
          </div>
          <div class="box">
            <p>January</p>

          </div>
          <div class="box">
            <p>January</p>

          </div>
          <div class="box">
            <p>January</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
