<div class="container">
  <div class="content">
    <div class="card">
      <div class="heading">
        <h3>Training Project React JS</h3>
        <mat-icon>more_horiz</mat-icon>
        
      </div>
      <p><mat-icon>account_circle</mat-icon>1</p>
      <div class="row3">
        <div class="time">
          <p>Time and Material (TNM)</p>
        </div>
        <div class="progress">
          <p>In progress</p>
        </div>
      </div>
      <h4>no milestone defined</h4>
      <div class="row5">
        <p><mat-icon>groups</mat-icon> 11 Resources</p>
        <h4><span>N/A</span> Hours</h4>
      </div>

      <div class="users">
        <img src="../../../../../assets/images (1).png"/>
        <img src="../../../../../assets/images (1).png"/>
        <img src="../../../../../assets/images (1).png"/>

      </div>
      <div>
        <h3>Project Completed</h3>
    </div>
  </div>
</div>
