<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="carouselItems">
  <div *nguCarouselDef="let item" class="item">
    <div class="main_middle_card">
      <!-- <img [src]="item.path"> -->
      <div class="image">
        <img src="../../../../../../assets/award_1660310382113.jpg">
        <button (click)="openDialog()">View All</button>
      </div>
      <div class="image">
        <img src="../../../../../../assets/award_1665553979253.jpg">
      </div>
      <div class="image">
        <img src="../../../../../../assets/award_1672378171227.jpg">
      </div>
      <!-- <div class="appreciation">
        <h2>Appreciation</h2>

        <h4>Dear Shivam Singh</h4>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
          into electronic typesetting, remaining essentially unchanged.</p>

        <button>View Deatils</button>
      </div> -->
      <!-- <div class="awards">
        <h2>Awards</h2>

        <h4>Dear</h4>

        <div class="pics">
          <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
          <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">

        </div>
      </div>

      <div class="awards">
        <h2>Awards</h2>

        <h4>Dear</h4>

        <div class="pics">
          <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
          <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
        </div>
      </div> -->
    </div>
    <!-- <div class="tile">{{item.path}}</div> -->
  </div>
  <!-- <button NguCarouselNext class="rightRs">></button>
	<button NguCarouselPrev class="leftRs"><</button> -->
  <ul class="myPoint" NguCarouselPoint>
    <li *ngFor="let j of myCarousel.pointNumbers" [class.active]="j == myCarousel.activePoint"
      (click)="myCarousel.moveTo(j)"></li>
  </ul>
</ngu-carousel>
