@import "../../../../../scss/mix";

.container {
  min-height: 100%;
  background-color: $common-background;

  padding: 30px;
  .card {
    .card_body {
      .card_header {
        h3 {
          font-size: 20px;
          color: $headingsBlue;
          padding: 11px 25px 11px 15px;
          border-bottom: 1px solid #f3f7fc;
          font-weight: 600;
        }
      }
      background-color: $primary-white;
    }
  }
}
:host ::ng-deep .container {
  .tables {
    table {
      border: 1px solid rgba(24, 28, 33, 0.06);
      width: 100%;
      border-collapse: collapse;
      @include commonTableStyling(1px solid #f1f1f2, 1px solid #f1f1f2);
    }
  }
}

@media only screen and (max-width: 625px) {
  :host ::ng-deep .container {
    .buttons {
      display: flex;
      flex-direction: column;
      .input-box {
        margin-bottom: 20px;
        .select {
          height: 50px !important;
        }
        span {
          margin: 5px !important;
        }
      }
      .search {
        margin-left: 5px;
        margin-bottom: 20px;
        mat-form-field {
          width: 50%;
        }
      }
    }
  }
}

