
  <div class="card">
    <div class="card_upper">
      <div class="job_logo">
        <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png" />
      </div>
      <div class="location">
        <mat-icon>location_on</mat-icon>
        <span>Noida,Uttar Pradesh</span>
      </div>
      <div class="date">2/01/23</div>
    </div>

    <div class="card_middle">
      <div class="job_desc">
        <h3>Sr. Software Engineer - BlockChain</h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and
          typesetting industry.
        </p>
      </div>
    </div>

    <div class="card_bottom">
      <div class="opening">
        <p>Number of Openings</p>
        <h3>3</h3>
      </div>
      <div class="experience">
        <p>Experience</p>
        <h3>3 to 5 Years</h3>
      </div>
    </div>

    <div class="card_button">
      <button class="view_detail">View Details</button>
      <button class="refer">Refer a Candidate</button>
    </div>

  </div>
