@import "../../../../scss/mix";

.container {
  .referal {
    .referal-inner {
      padding: 20px;
      background-color: #f2f6fc;

      .header {
        @include flex("", "");
        padding-bottom: 25px;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
        }

        .user {
          padding-top: 30px;

          span {
            font-family: "Lato";
            color: #524d4d;
            font-weight: 300;
            line-height: 1.4;
            margin-bottom: 0;
            font-size: 24px;
          }

          p {
            margin: 0;
            font-size: 24px;
            font-weight: 500;
          }
        }
      }

      .main {
        .main_upper {
          .job_description {
            @include grid("grid-template-columns", "65% 35%", "");

            .jobs {
              @include grid("grid-template-columns", "50% 50%", "");
              border: 1px solid #d4d9df;
              border-radius: 5px;
              background-color: $primary-white;
              margin: 0px 8px 0px 8px;

              .heading {
                // width: 50%;
                border-right: 1px dashed #ccc;
                padding: 24px 20px 24px 24px;

                .jobs_heading {
                  @include flex("", space-between);
                  padding: 8px;

                  p {
                    margin: 0;
                    font-size: 20px;
                    font-weight: 500;
                  }

                  button {

                    @include button(8px);
                  }
                }
              }

              .refer_bonus {
                padding: 25px;

                h3 {
                  font-family: "Lato";
                  font-size: 14px;
                  color: $primary-blue;
                  font-weight: 600;
                  line-height: 1.9;
                  margin: 0px;
                }
              }
            }

            .new_members {
              background-color: $primary-white;
              margin: 0px 8px 0px 8px;
              border: 1px solid #dbe2ea;
              border-radius: 5px;

              .new_members_in {
                padding: 25px;

                h2 {
                  font-size: 20px;
                  color: #231e1e;
                  font-weight: 500;
                  line-height: 1.5;
                  margin: 0;
                }


              }
            }
          }
        }

        .main_middle {
          margin-top: 20px;
          .main_middle_content {
            background-color: $primary-white;
            margin: 0px 8px 0px 8px;
            border: 1px solid #dbe2ea;
            border-radius: 5px;

            .main_middle_header {
              padding: 0.875rem 1.5rem;
              margin-bottom: 0;
              background-color: transparent;
              border-bottom: 0px solid rgba(24, 28, 33, 0.06);
              border-bottom-width: 1px;

              h2 {
                font-size: 20px;
                color: #231e1e;
                font-weight: 500;
                line-height: 1.5;
                margin: 0;
              }
            }

            // .main_middle_card {
            //   padding: 1em;

            //   @include grid("grid-template-columns", "33% 33% 33%", "");

            //   gap: 10px;

            //   h2 {
            //     font-size: 16px;
            //     color: #000000;
            //     font-weight: 500;
            //     line-height: 1.9;
            //     width: 90%;
            //     height: 20px;
            //   }

            //   h4 {
            //     font-family: "Lato";
            //     font-size: 12px;
            //     color: #606167;
            //     font-weight: 600;
            //     line-height: 1.9;
            //   }

            //   .appreciation {
            //     border: 1.5px solid rgba(150, 165, 184, 0.3);
            //     padding: 16px 16px 80px 16px;
            //     border-radius: 10px;
            //     @include position(relative, "", "", "", "");
            //     // height: 414px;

            //     p {
            //       font-family: "Lato";
            //       font-size: 12px;
            //       color: #606167;
            //       font-weight: 500;
            //       line-height: 1.9;
            //     }

            //     button {
            //       @include position(absolute, "", 0, 0, "");
            //       padding: 16px;
            //       margin: 15px;
            //       background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
            //         $primary-blue;
            //       background-blend-mode: soft-light, normal;
            //       border: 1px solid rgba(150, 165, 184, 0.2);
            //       box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
            //       border-radius: 4px;
            //       color: $primary-white;
            //       padding: 10px 20px 10px 20px;
            //     }
            //   }

            //   .awards {
            //     border: 1.5px solid rgba(150, 165, 184, 0.3);
            //     padding: 16px 16px 80px 16px;
            //     border-radius: 10px;
            //     @include position(relative, "", "", "", "");

            //     .pics {
            //       @include grid("grid-template-columns", "47% 47%", 20px);

            //       img {
            //         width: 100%;
            //         border-radius: 5px;
            //       }
            //     }

            //     p {
            //       font-family: "Lato";
            //       font-size: 12px;
            //       color: #606167;
            //       font-weight: 700;
            //       line-height: 1.9;
            //       margin-bottom: 0;
            //     }

            //     h4 {
            //       font-family: "Lato";
            //       font-size: 12px;
            //       color: #199cff;
            //       font-weight: 600;
            //       line-height: 1.9;
            //       margin-bottom: 0;
            //     }

            //     .awards_para {
            //       margin-top: 30px;
            //       p {
            //         font-family: "Lato";
            //         font-size: 12px;
            //         color: #606167;
            //         font-weight: 500;
            //         line-height: 1.9;
            //       }
            //     }

            //     .awards_in {
            //       margin-top: 40px;

            //       p {
            //         font-family: "Lato";
            //         font-size: 12px;
            //         color: #606167;
            //         font-weight: 700;
            //         line-height: 1.9;
            //         margin-bottom: 0;
            //       }

            //       h4 {
            //         font-family: "Lato";
            //         font-size: 12px;
            //         color: #199cff;
            //         font-weight: 600;
            //         line-height: 1.9;
            //         margin-bottom: 0;
            //       }
            //     }
            //   }
            // }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    .referal {
      .referal-inner {
        .main {
          .main_upper {
            .job_description {
              @include grid("grid-template-columns", "100%", "");
              .jobs {
                .heading {
                }
                .refer_bonus {
                  padding: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .container {
    .referal {
      .referal-inner {
        .main {
          .main_upper {
            .job_description {
              .jobs {
                @include grid("grid-template-columns", "100%", "");
              }
            }
          }
        }
      }
    }
  }
}
