<div class="container">
  <div class="referal">
    <div class="referal-inner">
      <div class="header">
        <img src="../../../../assets/images (1).png" />
        <div class="user">
          <span>Hello!</span>
          <p>Shivam Singh</p>
        </div>
      </div>
      <div class="main">
        <div class="main_upper">
          <div class="job_description">
            <div class="jobs">
              <div class="heading">
                <div class="jobs_heading">
                  <p>Latest Job Openings</p>
                  <button>View All</button>
                </div>
                <div class="card">
                  <div class="card_upper">
                    <div class="job_logo">
                      <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png" />
                    </div>
                    <div class="location">
                      <mat-icon>location_on</mat-icon>
                      <span>Noida,Uttar Pradesh</span>
                    </div>
                    <div class="date">2/01/23</div>
                  </div>

                  <div class="card_middle">
                    <div class="job_desc">
                      <h3>Sr. Software Engineer - BlockChain</h3>
                      <p>
                        Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry.
                      </p>
                    </div>
                  </div>

                  <div class="card_bottom">
                    <div class="opening">
                      <p>Number of Openings</p>
                      <h3>3</h3>
                    </div>
                    <div class="experience">
                      <p>Experience</p>
                      <h3>3 to 5 Years</h3>
                    </div>
                  </div>

                  <div class="card_button">
                    <button>View Details</button>
                    <button class="refer_candidate_button">
                      Refer a Candidate
                    </button>
                  </div>

                </div>
              </div>
              <div class="refer_bonus">
                <h3>OUR REFERRAL BONUS PROGRAM</h3>
                <div class="bonus_card">
                  <div class="bonus_card_upper">

                    <div class="bonus_card_content">
                      <h2>11K</h2>
                      <h3>Referral Bonus</h3>
                      <p>For 1 to 3 Years of experience</p>
                    </div>
                    <div class="bonus_card_content">
                      <h2>21K</h2>
                      <h3>Referral Bonus</h3>
                      <p>For 3 to 5 Years of experience</p>
                    </div>
                  </div>
                  <div class="bonus_card_upper">

                    <div class="bonus_card_content">
                      <h2>11K</h2>
                      <h3>Referral Bonus</h3>
                      <p>For 1 to 3 Years of experience</p>
                    </div>
                    <div class="bonus_card_content">
                      <h2>21K</h2>
                      <h3>Referral Bonus</h3>
                      <p>For 3 to 5 Years of experience</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="new_members">
              <div class="new_members_in">
                <h2>New Family Members</h2>
                <div class="new_members_details">
                  <!-- <img src="../../../../assets/DeepinScreenshot_select-area_20230202121545.png"> -->
                  <img src="https://dashboard.appinventiv.com/skin/hrsale_assets/img/new-family-card.png">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main_middle">
          <div class="main_middle_content">
            <div class="main_middle_header">
              <h2>Latest at Appinventiv</h2>
            </div>
            <div class="main_middle_card">
              <div class="appreciation">
                <h2>Appreciation</h2>

                <h4>Dear Shivam Singh</h4>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.</p>

                <button>View Deatils</button>
              </div>
              <div class="awards">
                <h2>Awards</h2>

                <h4>Dear</h4>

                <div class="pics">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230207161344.png">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230207161407.png">

                </div>
                <div class="awards_para">
                  <p>Keep spreading your awesomeness. Congratulations!</p>
                </div>

                <div class="awards_in">
                  <p>cheers!</p>
                  <h4>Appinventiv</h4>
                </div>
              </div>

              <div class="awards">
                <h2>Birthday Celebrations</h2>

                <h4>Dear</h4>

                <div class="pics">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230207161344.png">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230207161407.png">
                </div>

                <div class="awards_para">
                  <p>Keep spreading your awesomeness. Congratulations!</p>
                </div>

                <div class="awards_in">
                  <p>cheers!</p>
                  <h4>Appinventiv</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="main_middle">
          <div class="main_middle_content">
            <div class="main_middle_header">
              <h2>Latest at Appinventiv</h2>
            </div>
            <div class="main_middle_card">
              <div class="appreciation">
                <h2>Appreciation</h2>

                <h4>Dear Shivam Singh</h4>

                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.</p>

                <button>View Deatils</button>
              </div>
              <div class="awards">
                <h2>Awards</h2>

                <h4>Dear</h4>

                <div class="pics">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">

                </div>
              </div>

              <div class="awards">
                <h2>Awards</h2>

                <h4>Dear</h4>

                <div class="pics">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
                  <img src="../../../../assets/DeepinScreenshot_select-area_20230201160408.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
