<div class="container">
  <div class="card_upper">
    <div class="card_title">
      <h3>Employee {{ route.url | breadcrum | titlecase }} </h3>

    </div>
    <div class="card_functions">
      <div class="input-box">
        <p>Name</p>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Search by Name" [formControl]="searchValue" />
        </mat-form-field>
      </div>
      <div class="input-box">
        <p>Department</p>
        <app-dropdown-with-search [data]="departmentDropDown" (filterValue)="filterValue($event)" [myControlName]="directory" [placeholder]="'Directory'" ></app-dropdown-with-search>

      </div>
      <div class="buttons">
        <button class="reset" (click)="reset()">Reset</button>
        <button (click)="search()" class="search">
          <mat-icon>search</mat-icon>Search
        </button>
      </div>
    </div>
    <div class="row">
      <div class="card_lower">
        <div class="card_body" *ngFor="let item of filteredData">
          <div class="card-hover">&nbsp;</div>
          <div class="picture">
            <img src="../../../../assets/images (1).png" />
          </div>
          <div class="team">
            <h3>{{ item.name }}</h3>
            <p>{{ item.designation }}</p>
            <div class="personal_info">
              <p><span>@</span>{{ item.email }}</p>
              <p>
                <mat-icon>cake</mat-icon>{{ item.birthday }}
              </p>
            </div>
          </div>
          <div class="social">&nbsp;</div>
        </div>
        <div></div>
        <div class="notFound">
          <h1 *ngIf="filteredData.length == 0">Result Not Found</h1>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</div>

<!-- <></> -->
