@import '../../../../../../scss/mix';

.mat-dialog-title{
  padding: 10px;
  border-bottom: 1px solid black;
}

.mat-dialog-content{
  color: red;
  font-size: 18px;
}

.mat-dialog-actions{
  @include flex(center,center);
  button{
    background-color: blue;
    color: $pure-white;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}
