<div class="container">
  <div class="card">
    <div class="card_upper">
      <!-- <div class="request_button">
        <button (click)="showNewAsset()">
          <mat-icon>add</mat-icon><span>Add new asset request</span>
        </button>
      </div> -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="request_button">
              <button (click)="showNewAsset()">
                <mat-icon>add</mat-icon><span>Add new asset request</span>
              </button>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="requestAsset">
          <div class="card_upper_body">
            <div class="card_content">
              <div class="input-box">
                <p>Assets Categories</p>

                <app-dropdown-with-search
                  [error]="requestAsset | validationError : 'assets_category' : 'Assest Category'"
                  [myControlName]="requestAsset.controls.assets_category" [data]="dropDown"
                  [placeholder]="'Assets Categories'"></app-dropdown-with-search>

              </div>
              <div class="input-box">
                <p>Quantity</p>

                <app-dropdown-with-search [error]="requestAsset | validationError : 'quantity' : 'Quantity'"
                  [myControlName]="requestAsset.controls.quantity" [data]="dropDown"
                  [placeholder]="'Quantity'"></app-dropdown-with-search>


              </div>
              <div class="input-box">
                <p>Priority</p>

                <app-dropdown-with-search [error]="requestAsset | validationError : 'priority' : 'Priority'"
                  [myControlName]="requestAsset.controls.priority" [data]="dropDown"
                  [placeholder]="'Priority'"></app-dropdown-with-search>


              </div>
              <div class="input-box">
                <p>Required by Date</p>
                <mat-form-field appearance="outline">
                  <input [min]="minDate" matInput [matDatepicker]="picker1" placeholder="Date" formControlName="requested_at"
                    readonly />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error>{{requestAsset | validationError : 'requested_at' : 'Requested Date'}}</mat-error>
                </mat-form-field>
              </div>
              <div class="input-box">
                <p>Allocation type</p>

                <app-dropdown-with-search
                  [error]="requestAsset | validationError : 'allocation_type' : 'Allocation Type'"
                  [myControlName]="requestAsset.controls.allocation_type" [data]="dropDown"
                  [placeholder]="'Allocation Type'"></app-dropdown-with-search>

              </div>
            </div>

            <div class="card_bottom">
              <div class="input-box">
                <p>Request Reason</p>
                <textarea placeholder="Request Reason" formControlName="request_reason"></textarea>
              </div>
            </div>

            <div class="submit_button">
              <button (click)="submitRequest()">Submit</button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </div>

    <div class="card_lower">
      <div class="card_lower_header">
        <h3>List All Assets inventory</h3>
      </div>
      <app-common-table [config]="assetsConfig" [tableColumns]="tableColumns"
        [dataSource]="dataSource"></app-common-table>
    </div>
  </div>
</div>
<!-- <></> -->
