<div class="container">
  <div class="card">
    <div class="card_upper">
      <div class="card_upper_heading">
        <h3>Create New DSR</h3>
        <button (click)="addnew()">+ Add</button>
      </div>
      <form [formGroup]="dsrForm">
        <div class="new_dsr" *ngIf="!show">
          <div class="dsr_type">
            <div class="input-box">
              <p>Project</p>
              <app-dropdown-with-search [error]="dsrForm | validationError : 'project' : 'Project'" [data]="dropDown"
                [myControlName]="dsrForm.controls.project" [placeholder]="'Project'"
                (filterValue)="selectProject($event)"></app-dropdown-with-search>
            </div>

            <div class="dsr_details">
              <div class="input-box">
                <p>Date</p>
                <mat-form-field appearance="outline">
                  <input [max]="todayDate" readonly matInput [matDatepicker]="picker1" formControlName="date"
                    placeholder="Date" />
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error>{{
                    dsrForm | validationError : "date" : "Date"
                    }}</mat-error>
                </mat-form-field>
                <!-- <app-field-error [error]="qualification | validationError : 'time' : 'Time'"></app-field-error> -->
              </div>
              <div class="input-box">
                <p>Estimated Hour</p>
                <mat-form-field appearance="outline">
                  <input readonly matInput [ngxTimepicker]="picker" [format]="24" formControlName="total"
                    placeholder="Estimated Hour" />
                  <ngx-material-timepicker #picker></ngx-material-timepicker>
                  <mat-error>{{
                    dsrForm | validationError : "hours" : "Hours"
                    }}</mat-error>
                </mat-form-field>
              </div>

              <div class="check">
                <section class="example-section">
                  <mat-checkbox (change)="fill($event)" class="example-margin">No Work Done
                  </mat-checkbox>
                </section>
              </div>
            </div>
            <div class="Miscellaneous" *ngIf="miscellaneousShow">
              <div class="input-box">
                <p>Approving Authority 1 (PM)</p>
                <app-dropdown-with-search [error]="dsrForm | validationError : 'project' : 'Project'" [data]="dropDown"
                  [myControlName]="dsrForm.controls.project" [placeholder]="'Project Manager'"
                  (filterValue)="selectProject($event)"></app-dropdown-with-search>
              </div>
              <div class="input-box">
                <p>Approving Authority 2 (AM)</p>
                <app-dropdown-with-search [error]="dsrForm | validationError : 'project' : 'Project'" [data]="dropDown"
                  [myControlName]="dsrForm.controls.project" [placeholder]="'Account Manager'"
                  (filterValue)="selectProject($event)"></app-dropdown-with-search>
              </div>
            </div>
            <div class="Miscellaneous" *ngIf="interviewShow">
              <div class="input-box">
                <p>Choose AM</p>
                <app-dropdown-with-search [error]="dsrForm | validationError : 'project' : 'Project'" [data]="dropDown"
                  [myControlName]="dsrForm.controls.project" [placeholder]="'Account Manager'"
                  (filterValue)="selectProject($event)"></app-dropdown-with-search>
              </div>
            </div>
          </div>

          <div class="Description">
            <p>Description</p>
            <angular-editor [config]="editorConfig" formControlName="dsr"></angular-editor>
          </div>

          <div class="buttons">
            <button class="save_button" (click)="addDsrData()">Add</button>
          </div>
        </div>
      </form>
    </div>

    <div class="card_middle">
      <div class="card_middle_content">
        <div class="input-box">
          <p>From Date</p>
          <mat-form-field appearance="outline">
            <input (dateChange)="dateFilter($event)" readonly matInput [max]="to_date.value" [matDatepicker]="picker1" [formControl]="from_date"
              placeholder="from" />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <!-- <app-field-error [error]="qualification | validationError : 'time' : 'Time'"></app-field-error> -->
        </div>
        <div class="input-box">
          <p>End Date</p>
          <mat-form-field appearance="outline">
            <input (dateChange)="EnddateFilter($event)" readonly matInput [min]="from_date.value" [matDatepicker]="picker2" [formControl]="to_date"
              placeholder="to" />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
          <!-- <app-field-error [error]="qualification | validationError : 'time_to' : 'Time'"></app-field-error> -->
        </div>
        <div class="input-box">
          <p>Submission Status</p>

          <app-dropdown-with-search [data]="dropDown" [myControlName]="submission_status"
            [placeholder]="'Status'"></app-dropdown-with-search>
        </div>
        <div class="input-box">
          <p>Project</p>
          <app-dropdown-with-search [data]="dropDown" [myControlName]="project"
            [placeholder]="'Project'"></app-dropdown-with-search>
        </div>
        <div class="input-box">
          <p>Final Approval Status</p>
          <app-dropdown-with-search (filterValue)="filterValue($event)" [data]="approvaldropDown"
            [myControlName]="approval" [placeholder]="'Allocation Status'"></app-dropdown-with-search>
        </div>
        <div class="input-box">
          <p>Hours</p>

          <app-dropdown-with-search [myControlName]="hours" (filterValue)="filterValue($event)" [data]="hoursdropDown"
            [placeholder]="'Hours'"></app-dropdown-with-search>
        </div>
        <div class="button">
          <button>Reset</button>
        </div>
      </div>
    </div>

    <div class="card_bottom">
      <div class="card_bottom_header">
        <h3>List All Worksheets</h3>
      </div>
      <app-common-table (buttonClick)="buttonClick($event)" [config]="dsrconfig" [tableColumns]="tableColumns"
        [dataSource]="dataSource"></app-common-table>
    </div>
  </div>
</div>
