.formfield {

}



.filter {
  width: 98% !important;
  padding: 10px 0px !important;
  overflow: hidden;
}

mat-form-field{
  width: 100%;
  mat-error{
    margin-top: 16px;
    font-size: 12px;
    margin-left: -9px;
  }

}

::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  background: blue;
  color: white !important;
}

::ng-deep .mat-option {
  &:hover:not(.mat-option-disabled),
  &:focus:not(.mat-option-disabled) {
    background-color: rgb(245, 242, 242);
    color: black !important;
  }
}
