$primary-blue: #199cff;
$primary-white: #fff;
$darkblue: #26b4ff;
$pure-white: white;
$common-background: #f2f6fc;
$dullBlack: #a3a4a6;
$headingsBlue: #3246d3;
$dullGrey: #f9f9f9;
$Blue: blue;

@mixin flex($item, $align) {
  display: flex;
  align-items: $item;
  justify-content: $align;
}

@mixin grid($grid-type, $args, $gap) {
  display: grid;
  #{$grid-type}: #{$args};
  column-gap: $gap;
}

@mixin position($position, $top, $bottom, $left, $right) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin form-field($width) {
  .input-box {
    margin: 0px 10px 0px 10px;
    mat-form-field {
      width: $width;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      font-family: "Segoe UI";
      color: #2f3031;
      margin-bottom: 5px;
      margin: 0;
    }
    ::ng-deep.mat-form-field-appearance-outline {
      background-color: $pure-white;

      .mat-form-field-infix {
        padding: 20px 0px 17px 0px;
        border-top: 0em solid transparent;
      }
    }
    ::ng-deep .mat-form-field-appearance-fill {
      background-color: $pure-white;
      .mat-form-field-flex {
        background-color: $pure-white;
        padding: 0em 0em 0 0.75em;
      }
    }
  }
}

@mixin button($padding) {
  padding: $padding;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%), $primary-blue;
  background-blend-mode: soft-light, normal;
  border: 1px solid rgba(150, 165, 184, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
  border-radius: 4px;
  color: $primary-white;

  &:hover {
    cursor: pointer;
    background: $darkblue;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.07), 0px 4px 5px 0px rgba(0, 0, 0, 0.05),
      0px 1px 10px 0px rgba(0, 0, 0, 0.03);
    color: $primary-white;
  }
}

@mixin commonCard() {
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.04);
  background-color: $primary-white;
  border-radius: 10px;
}

@mixin commonTableStyling($border,$td_border) {
    tbody {
      tr {
        td {
          border: $td_border;
          padding: 10px 10px 10px 20px;
        }
      }
    }
    thead {
      tr {
        th {
          border: $border;
          padding: 10px 10px 10px 20px;
          color: black;
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }


@mixin custom-scroller($axis, $brodness: 4px , $bgcolor:grey) {
  @if ($axis== "x") {
    overflow-x: auto;
    overflow-y: hidden;
  }

  @if ($axis== "y") {
    overflow-y: auto;
    overflow-x: hidden;
  }

  &::-webkit-scrollbar {
    width: $brodness;
    height: $brodness;
  }

  &::-webkit-scrollbar-track {
    width: $brodness;
    height: $brodness;
    border-radius: 20px 20px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px 20px;
    background-color: $bgcolor;
    opacity: 0.5;
    width: $brodness;
    height: $brodness;

    &:hover {
      opacity: 1;
    }
  }
}
