@import '../../../scss/mix';

.container{
  .buttons{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0px 20px;
    .input-box{
      span{
        margin: 10px;
      }
      .select{
        height: 35px;
        width: 35%;
        border:1px solid #DBE2EA;
        background-color: #fff;
      }
    }

    .search{
      .input-box{
        ::ng-deep.mat-form-field-appearance-outline{
          .mat-form-field-flex{
            height: 50px;
          }
          .mat-form-field-wrapper{
            margin: 0px 0px -5px 0px;
          }
        }
        span{
          margin: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width:560px){
  .container{
    .buttons{
      display: block;

      .search{

        margin-top: 10px;
        @include form-field(100%);

      }
    }
  }
}
