@import '../../../../../scss/mix';

.container{
   min-height: 100%;
  padding: 20px;
  background-color: $common-background;

  .card {
    .card_header {
      margin-bottom: 30px;
      h3 {
        font-size: 24px;
        color: $primary-blue;
        font-weight: 500;
        line-height: 1.2;
        margin-bottom: 0;
      }
    }
  }
}
:host ::ng-deep .container {

  .tables{
   border: 1px solid rgba(24,28,33,0.06);
   padding: 20px;
    table{
      @include commonTableStyling('','')
    }
  }
}
